# Data Science Tools and Ecosystem

# In this notebook Data Science and Ecosystem are summarized

**Objectives:**
- List Popular Languages for Data Science
- Commonly used Libraries by Data Scientists
- Data Sciecen Tools
- Evaluating Arithmetic Expressions

## Some of the Popular Languages that Data Scientists user are
1. Python
2. R
3. SQL

# Some of the commonly used libraries used by Data Scientists include: 
1. Pandas
2. Nymphy
3. ggplot

|Data Science Tools|
|------------------|
| Jupyter Notebook |
| Git Hub          |
| R Studio         |

## Below are a few examples of evaluating Arithmetic expressions in Python

In [1]:
# This is a simple Arithmetic expression to multiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

## Author
Sridhar